asgiref
attrs
bleach
certifi
chardet
defusedxml
dj-database-url
dj-static
Django
django-allauth
django-countries
django-crispy-forms
django-debug-toolbar
gunicorn
idna
importlib-metadata
Markdown
more-itertools
oauthlib
packaging
Pillow
pluggy
py
pyparsing
pytest
pytest-django
python-decouple
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
static3
Unipath
urllib3
wcwidth
webencodings
whitenoise
zipp
celery
